.action{
    width:98% !important;
	margin-top: 20px;
}
.action.span12, .modulemessage.span12 {
    margin-left: 0 !important;
}
button.itemlist {
  margin: 4px;
  max-width: 116px;
  min-height: 66px;
}
.block {
min-height:155px !important;
margin-left: -1px !important;
    margin-right: 15px !important;
}
.block > .row-striped{
	overflow-y: auto;
  overflow-x: hidden;
}
.adminlink{
  color:#000;
  font-weight:bold;
}
h2.nav-header {
    border-bottom: 1px solid #E3E3E3;
}
/** max size for image **/
.youritems img.fc_field_image {
    max-height: 80px !important;
}
.info-bar {

}
.contentbloc{
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
}
.block.well.well-small {
    margin-right: 1%;
}
.action .btn.btn-default.btn-lg.itemlist {
    width: 107px;
    min-height: 75px;
    color: inherit;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-radius: 2px;
    transition: 0.3s;
}
.action .btn.btn-default.btn-lg.itemlist:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,1);
}
.btn.btn-secondary.iconpicker {
    display: inline !important;
}
.modulemessage {
    padding-top: 20px;
    padding-bottom: 20px;
}